body{
	background-color: lightgreen;
}
.container{
 	display : flex;
 	justify-content flex;
 	background-color: #999;
 	flex-direction: row;
 	justify-content: space-between;
 	align-items: center;
 	font-weight: bold;
 	height: 36px;
 	padding-left: 30px;
 	border-radius: 10px;
}
a{
	text-decoration: none;
}
 .div{
 	text-decoration: none;
 }
 input {
	border-radius: 20px;
	background-color: #c0c0c0;
	align-content: right;
	height: 20px;
	margin: 5px; 
}
h1{
	border-radius: 20px;
	background-color: #cfe098;
	text-align:  center;
	height: 40px;
	margin: 5px;
	color:#1e4bc9;
	letter-spacing: 5px;
}
.container2 {
    width: 1180px;
    height: 50%;
    display: flex;
    background-color: aqua;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
    margin-top: : 50px;
}
p{	width: 170px;
	text-align: center;
}
.box{
	height: 380px;
	border-radius: 20px;
	padding: 20px;
}

 .F1 {border-radius: 50px;
 	width :160px;
 	height: 120px;
 }
 .F2{
 	width: 1180px;
 	height: 850px;
 	border-radius: 10px;
 }

.box1{
	height: 380px;
	padding: 20px;
}

.box2{
	height: 380px;
	width: 150px;
	padding: 20px;
}
.box3{
	height: 380px;
	padding: 20px;
}
h4{
	background-color: lightpink;
	height: 30px;
	text-align: center;
	padding-right: 30px;
	padding-top: 10px;
	border-radius: 10px;
}

